[package]
name = "ui"
version = "0.1.0"
edition = "2021"

[dependencies]
dioxus = { workspace = true }
api = { workspace = true }
dioxus-gestures = { path = "../../..", features = ["fullstack"] }

[features]
server = ["api/server"]
